[2017-07-04 15:12] bsipocz opened #2 "Make astrochangebot configurable"
Some projects may want to be less strict about changelogs or milestones, e.g. doesn't require the changed to be added by the contributor but leaves it as a pre-release maintaner task.

[2017-07-04 15:20] astrofrog commented on #2
One thing that needs to be settable is the name of the changelog. At the moment we just try different filenames.

[2017-07-04 15:21] bsipocz commented on #2
yes, that one, too

[2017-07-04 15:25] astrofrog commented on #2
By the way, maintainers can add the changelog entry themselves pre-merge if contributors can't do it, which would be cleaner since it keeps the changelog entry defined in the PR it relates to (and avoids issues when backporting where the changelog commit might be forgotten).

[2017-07-04 15:29] astrofrog opened #3 "Make 'Details' link in status point to comment"
At the moment there is no 'Details' link, but we could add this and point it to the astrobot comment

[2017-07-04 15:34] bsipocz opened #4 "Make bot recomment for premature merges"
If a PR is merged without all comments of the bot being addressed, it should comment again after the merge as it's quite probable that the original comment was overseen in a longish thread of discussions for a PR.

[2017-07-04 15:35] astrofrog commented on #4
Good idea - note that even if the comment gets lost in all the discussion, the CI status should still make it clear things are failing (and as mentioned in #3 we can make the Details link link to the comment)

[2017-07-04 15:40] bsipocz commented on #2
Yes, that's right. But in astroquery, so far, I found it easier to do it in one go and have just one summary entry for many bugfixes. But then there is no bugfix branching here.

[2017-07-04 15:42] bsipocz commented on #4
Oh, sure I forgot about that. Also any discrepancies could be picked up later when running the release checking scripts.

[2017-07-04 15:42] astrofrog commented on #2
@bsipocz - agree, though if you do that you lose the benefit of using a bot like this and you'll have to run the consistency checking manually later (and may run into issues). It's completely up to the maintainers though, I think for the core package I'd like to see people always try and get the bot status to pass.

[2017-07-04 15:44] bsipocz commented on #2
yes, totally agree it's the way to go with the core and also the helpers.

[2017-07-05 16:23] bsipocz opened #5 "Delay first comment of the bot for non-maintainer PRs"
Maintainers can set all the bot required thing, but others can't, so it would be nice to give a maintainers a chance to get to the PR first and set labels and milestones.

[2017-07-05 18:56] astrofrog commented on #5
This is harder than it might seem, because we don't want to just e.g time.sleep since that would hold up the server which wouldn't be able to accept any other requests. Maybe we can start a thread with some delay.

[2017-07-05 20:22] pllim opened #6 "Change log modification not allowed if Affects-dev label is set"
See my dilemma at https://github.com/astropy/astropy/pull/6334#issuecomment-313215188

[2017-07-05 20:23] pllim opened #7 "Feature Request: Bring back HAL profile pic"
Never found it hostile, or is it just me? 😄

[2017-07-05 20:28] eteq commented on #7
I am pro-HAL!

[2017-07-05 20:29] eteq commented on #7
Or maybe a 50/50 alpha of the two?

[2017-07-05 20:40] eteq commented on #7
Something like:
![image](https://user-images.githubusercontent.com/346587/27883993-a32cc0b6-61a0-11e7-834e-5cef80cb9136.png)

[2017-07-05 20:41] eteq opened #8 "Allow affects-dev w/changelog entry"
Sometimes affects-dev *and* changelog entry can be true, for example if editing an old changelog entry - astropy/astropy#6334

[2017-07-05 21:01] pllim commented on #6
Duplicate of #8

[2017-07-05 21:01] #6 closed, assigned to nobody

[2017-07-05 21:15] bsipocz commented on #8
I think this case we just shouldn't use the ``Affects-dev`` label?

[2017-07-05 21:25] astrofrog commented on #8
Well affects-dev could be an indication it's *ok* to not have a changelog entry (synonymous with no-changelog-entry-needed), but it shouldn't complain if there is an entry anyway.

[2017-07-05 21:32] bsipocz commented on #8
Oh, OK. Either way is fine by me :)

[2017-07-05 23:17] #8 closed, assigned to nobody

[2017-07-06 01:23] pllim commented on #7
Whoa @eteq , that's quite hypnotic! :cyclone: :eye: :cyclone:

[2017-07-09 09:32] astrofrog opened #11 "Don't warn about inconsistent milestone when there is no milestone"
Example message seen today:

Hi there @aconley 👋 - thanks for the pull request! I'm just a friendly 🤖 that checks for issues related to the changelog and making sure that this pull request is milestoned and labelled correctly. This is mainly intended for the maintainers, so if you are not a maintainer you can ignore this, and a maintainer will let you know if any action is required on your part 😃.

[2017-07-15 08:21] #11 closed, assigned to nobody

[2017-07-17 07:45] astrofrog opened #13 "Failure to find previous comment when there are too many comments"
See https://github.com/astropy/astropy/pull/6176#issuecomment-315643875

[2017-07-17 11:06] bsipocz commented on #13
Isn't the issue there that it's an old PR? I suspect this issue will only affect those already opened PRs, as normally the bot will be the first one to comment, so even if the existing comments are checked in chunks the bot's will be in the first batch always?

[2017-07-17 11:38] astrofrog commented on #13
Right, though it'd be nice to make sure that it works for old PRs, since there are still a bunch open (to avoid issues like this)

[2017-07-17 14:23] bsipocz commented on #13
I've quickly tried to run it locally to fix this, but it doesn't seem to be as trivial as expected so I give up.

[2017-07-17 14:52] pllim commented on #13
Will caching be a feasible solution? Like, keep a record of where the bot had left a comment before and look it up before attempting to post a new comment?

[2017-07-17 15:59] astrofrog commented on #13
@pllim - no, we can't assume any persistent data on the server (one has to pay for persistent data, and things are a lot cleaner if we don't rely on databases)

[2017-07-20 14:00] astrofrog opened #14 "Comments from bot should include a footer giving URL to this repo or issue tracker"
Just so that people understand where the code lives.

[2017-09-20 03:51] astrofrog opened #20 "Document bot"
I need to document how the bot is set up on heroku and what environment variables are needed

[2017-09-20 04:05] astrofrog opened #21 "Stale issue messages should take into account previous comments"
If the bot has already made a 'stale issue' comment, don't post the same issue twice.

[2017-09-20 04:06] astrofrog opened #22 "Stale issue message should use global settings for deadline"
... rather than say '5 months' or '6 months'

[2017-09-20 04:06] astrofrog opened #23 "Implement warning/closing of stale pull requests"
This can re-use a lot of what we did for stale issues.

[2017-09-20 04:10] bsipocz opened #24 "changelog bot should ignore future milestone"
Future milestone should be treated as WIP PRs, the bot should have a different comment for them.

[2017-09-20 04:52] pllim commented on #24
Will a PR be labeled future? Usually it is used for feature request issue, not PR. What is the use case here? Just curious.

[2017-09-20 11:33] bsipocz commented on #24
Yes, there are a [few](https://github.com/astropy/astropy/pulls?utf8=%E2%9C%93&q=is%3Apr%20is%3Aopen%20milestone%3AFuture%20). Usually they're POC PRs, and thus the bot's current message just looks a bit off topic, and we don't want to make the bot looked silly ;)

[2017-09-20 13:58] pllim commented on #24
In a purist way, they should have been labeled "Experimental", which would already pacify the bot. But adding this wouldn't hurt. 😄

[2017-09-20 17:29] pllim opened #26 "I think I broke the bot on astropy"
Sorry!

[2017-09-20 17:39] pllim commented on #26
I try to debug it locally like this:
[code]
but it needs authentication now:
[code]

[2017-09-20 18:36] astrofrog commented on #26
Yes I need to document how to use it locally :)

[2017-09-22 02:03] bsipocz commented on #24
Oh, sure that could work, too. (and I like the logic behind it)

[2017-09-24 13:09] astrofrog commented on #24
I'm -1 on this and I think we should just use the Experimental or WIP label

[2017-09-25 02:26] bsipocz commented on #24
I've removed the milestone from all the PRs that were in "future" and added either labels.

[2017-09-25 02:26] #24 closed, assigned to nobody

[2017-09-26 13:25] astrofrog commented on #26
The bot is now fixed and I've documented how to run it locally in https://github.com/astropy/astropy-bot/blob/master/README.md

[2017-09-26 13:25] #26 closed, assigned to nobody

[2017-09-26 13:33] astrofrog commented on #20
I've now done this in the README: https://github.com/astropy/astropy-bot/blob/master/README.md

[2017-09-26 13:33] #20 closed, assigned to nobody

[2017-09-26 13:35] astrofrog commented on #23
Done!

[2017-09-26 13:35] #23 closed, assigned to nobody

[2017-09-26 13:35] astrofrog commented on #22
Done!

[2017-09-26 13:35] #22 closed, assigned to nobody

[2017-09-26 13:35] astrofrog commented on #21
Done!

[2017-09-26 13:35] #21 closed, assigned to nobody

[2017-09-26 13:36] astrofrog commented on #13
I think this should be fixed, but let me know if not!

[2017-09-26 13:36] #13 closed, assigned to nobody

[2017-09-26 13:38] astrofrog commented on #14
Should be done now!

[2017-09-26 13:38] #14 closed, assigned to nobody

[2017-09-26 14:24] bsipocz commented on #21
Hmm, so in case the was a stale issue comment, but then it some activity, it cannot become stale again after the usual stale period passes?

[2017-09-26 15:12] pllim opened #31 "Enable bot on this bot repo?"
Too meta?

[2017-09-26 15:19] astrofrog commented on #31
We don't have a changelog here yet so don't think we want to enable it until there is a way to disable the changelog checking.

[2017-09-26 15:25] astrofrog opened #33 "Test GitHub API classes"
There are two ways we can do this - either we set up a test repo and then actually interact with that repo, or we mock the GitHub server and return pre-determined JSON responses. I think the latter is safer in terms of continuous integration.

[2017-09-26 15:44] pllim commented on #33
👍 on mock. But we should keep the test repo up for human testing.

[2017-09-26 18:39] bsipocz opened #34 "PRs labeled "Close?" shouldn't get issue messages"
Sometimes we label a PR with ``Close?``, too. That case the bot can still comment of the staleness, but it should talk about being a PR, not an issue.

https://github.com/astropy/astropy/pull/3845#issuecomment-332272593

[2017-09-26 18:48] bsipocz opened #35 "Revise PR and issue notification and closing times"
As discussed on slack, it would be great to add the "close?" label on a PR as a first strike, and the apply the same rule for issues and PRs, e.g. close in one month.

Ideally the times could be configured, but  that's probably a more complicated feature  request (and thus should end up in a new issue in case it's not done in the same PR as this one).

[code]

[2017-09-27 12:51] astrofrog opened #38 "Post new warning if a commit is added then PR goes stale again"
At the moment, if any warning about closing a PR has been posted to a PR, we never show the warning again. This poses an issue for the case where someone adds a commit and the PR goes stale again (no new warning is posted and the PR is closed 6 months later).

When searching for previous comments, we should restrict ourselves to comments that have been made since the last commit date. We should ad

[2017-09-27 12:52] astrofrog commented on #2
Coming back to this again, I agree we need a way to enable/disable the changelog checking on a per-repo basis. At the moment the auto-closing can only be used if the app is added to a repo, which enables the changelog checking in PRs.

[2017-09-27 12:53] astrofrog commented on #7
I like HAL too, but I think we should keep that in case we still need @astrobot (not @astropy-bot). You know, in case we need a kind of good bot / bad bot thing.

[2017-09-27 12:53] #7 closed, assigned to nobody

[2017-09-27 12:54] astrofrog commented on #31
This depends on #2

[2017-09-27 12:54] astrofrog commented on #5
Has this really been an issue though? Can we close this @bsipocz?

[2017-09-27 12:57] bsipocz commented on #5
This is still something that's a would be nice think, but probably doesn't worth the effort of implementing it. No one complained I believe, or they kept it very close to themselves.

[2017-09-27 12:57] #5 closed, assigned to nobody

[2017-09-27 12:58] bsipocz commented on #7
though we should change @astrobot from HAL to the one @eteq suggested above.

[2017-09-27 13:02] bsipocz commented on #2
Oh, and then it would be nice to configure the time frames for the auto-closure, too.

[2017-09-27 15:07] pllim commented on #7
But how about SAL for `astropy-bot` then? (Looks like HAL but in blue.) http://2001.wikia.com/wiki/SAL_9000

[2017-09-27 15:11] pllim opened #39 "Is bot supposed to remove "Close?" label if PR is active again?"
We talked about adding "Close?" label to PRs like issues. But if the PR revives (new commits), does the  bot then remove the "Close?" label that it added? Is it supposed to or better leave that to puny humans?

[2017-09-27 15:17] astrofrog commented on #39
For now we don't (or shouldn't) do anything with 'Close?' on PRs, but we should answer this question once/if we do #35

[2017-09-27 15:31] pllim opened #40 "Travis CI failed with application error"
See https://travis-ci.org/astropy/astropy-bot/builds/280066776 . I don't see "limit exceeded" message this time but feel free to close if this is false alarm.

[2017-09-28 01:15] pllim opened #41 "Nitpick: Add Oxford comma to repo description"
At the top of repo page, where it says "maintained by...", an Oxford comma should be added before "and". :wink:

[2017-09-28 08:49] #34 closed, assigned to nobody

[2017-09-28 12:29] astrofrog commented on #41
Fixed!

[2017-09-28 12:29] #41 closed, assigned to nobody

[2017-09-28 12:46] astrofrog commented on #40
Fixed :) (it did indeed run out of API calls yesterday because I was running it a lot for testing)

[2017-09-28 12:46] #40 closed, assigned to nobody

[2017-09-28 16:16] pllim opened #44 "TST: Add flake8 check for bot?"
Or is this an overkill?

[2017-09-28 16:18] bsipocz commented on #44
I think we could use pep8speak instead (works nicely for sunpy and astroquery) rather than start writing our own.

[2017-09-28 16:23] pllim opened #45 "Feature Request: Change to SAL profile pic"
A follow-up on #7. (Yes, I can be stubborn sometimes.)

[2017-09-28 16:26] pllim commented on #44
I have mixed feelings about `pep8speak` after seeing it in action in `astroquery`. But there is a beauty to having another bot check a bot, so 👍

[2017-09-28 16:32] bsipocz commented on #44
I think it's still in development, and the author seemed to be happy to receive suggestions, so you can speak up :)
I always planned to get it run on astropy, but we first need to have a big cleanup so it only reports issues that are newly introduced.

[2017-09-29 13:56] MSeifert04 commented on #44
@bsipocz Are you sure that cleanup is necessary? I mean it supports [configuration](https://github.com/OrkoHunter/pep8speaks#configuration) that allow to check the "diff only" and only "specific warnings".

[2017-09-29 14:00] MSeifert04 commented on #44
Interesting, pep8speaks lists astropy in ["popular users"](https://github.com/OrkoHunter/pep8speaks#popular-users)... So we probably have to use it... 😄

[2017-09-29 14:32] bsipocz commented on #44
@MSeifert04 - I would rather have the cleanup first, and the run it for the widest range of warnings sanely possible. The cleanup only because it will keep individual PRs cleaner of PEP8 things. I haven't tried to run it with "diff only", maybe that would be a good option for the core. But still, I would like to have it run for a wider range of warnings than the required ones in the travis tests,

[2017-09-29 16:31] bsipocz opened #46 "Only notify for staleness, but don't close"
@olebole pointed out on ``astropy-dev`` that there are a few cases where the PR is not merged due to the unfinished review process. This may be especially true for the low traffic, high maintained burdened repos like ``astropy-helpers`` or ``package-template``.

It may be useful to have a configurable option of not only having custom times for first notification and closure time, but also to only

[2017-09-29 16:34] astrofrog commented on #46
Isn't that what the **keep-open** label does? (prevent this kind of situation I mean)

[2017-09-29 16:38] bsipocz commented on #46
Well, Ole had a good point about the in certain places (helpers?) PR could slip through under the radar to be waiting for the same maintainer to add the ``keep-open`` label as doing the review.

For core, I feel that we're good with the current setup as at least there are @pllim and me doing generic triaging and can ping submodule maintainers or add the label if needed.

[2017-09-29 16:43] astrofrog commented on #46
This could be done in https://github.com/astropy/astropy-bot/pull/42 potentially?

[2017-09-29 16:46] bsipocz commented on #46
I wouldn't want to hold up merging #42 because of it, but if @pllim has the time soonish, then sure.

[2017-09-29 16:59] pllim commented on #46
Adding in #42 shouldn't be a problem but I am waiting for a review there on how to proceed.

[2017-10-02 23:31] bsipocz opened #48 "Changelog-bot should not comment on closed PRs"
I'm adjusting labels on closed PRs, and the bot regained some unneeded consciousness. Ideally it shouldn't comment on already closed PRs/issues.

e.g. https://github.com/astropy/astropy/pull/4423#issuecomment-333693283

[2017-10-02 23:35] bsipocz commented on #48
Oh, got it. It only comments when the branch of the PR is not yet deleted (and I assume it has a nice error raised in the logs when the branch is deleted already).

[2017-10-16 09:40] #48 closed, assigned to nobody

[2017-10-23 20:45] pllim opened #50 "Setup instructions not helpful"
I am trying to set up this bot on my own test repo but all the links given under setup section in README result in 404. I don't think I have permission to view them.

[2017-11-03 16:48] #50 closed, assigned to nobody

[2017-11-03 19:32] pllim commented on #46
Part of this is now possible with #42 merged. Message customization still needs work.

[2017-11-03 19:32] pllim commented on #44
Done.

[2017-11-03 19:32] #44 closed, assigned to nobody

[2017-11-03 19:33] pllim commented on #3
Done in #42.

[2017-11-03 19:33] #3 closed, assigned to nobody

[2017-11-03 19:34] pllim commented on #2
You can now expand upon the YAML stuff now that #42 is merged.

[2017-11-03 19:44] bsipocz commented on #44
@pllim - Oh, it seems I so badly misunderstood this, I assumed all the way that you want to use the bot to do pep8 checks on other repos...

[2017-11-03 19:50] pllim commented on #44
Haha, no, there are already other bots for that. Just want our bot to adhere to high standards. :wink: :robot: :muscle:

[2017-11-21 12:33] astrofrog opened #54 "Add closed-by-bot label when auto-closing"
If the closed-by-bot label exists in the repository, it should be added when the bot auto-closes issues/PRs so these can be easily found in future. For now I've labelled PRs and issues manually.

[2017-11-22 02:02] pllim commented on #54
Should the bot be given power to *create* this label if it does not exist? Or is that too skynet-y?

[2017-11-23 08:54] astrofrog commented on #54
I would say it shouldn't create the label for now

[2017-11-23 22:07] bsipocz commented on #54
Well, the label only needs to be created the first time, so very well a human can do it a double check when setting up the bot...

[2018-02-09 17:13] Cadair opened #58 "Provide default values for environment vars"
I was just spinning up my own version of this, and it's a pain to have to set a whole bunch of stale env vars which I am not using 😆

[2018-02-09 17:39] pllim commented on #58
Related to #2? Also if you have a list of those pesky undefined var names, please list them out.

[2018-02-09 17:40] Cadair commented on #58
semi-related to #2. The list is here: https://github.com/astropy/astropy-bot/blob/master/changebot/webapp.py#L18

obviously the required tokens are requried, would be good to check if the stale checker was enabled before the others were required though.

[2018-03-16 22:41] bsipocz opened #59 "Unrelated changelog entry should be recognized"
If a changelog entry is added to a PR, but with the issue rather than the PR number, and the PR otherwise has the `no-changelog-entry-is-needed` label, then the bot doesn't complain about the existing changelog entry.

We may want it to check whether there is __any__ diff to the changelog file.

Example:

<img width="1014" alt="screen shot 2018-03-16 at 22 40 34" src="https://user-images.githubuse

[2018-03-23 20:05] pllim commented on #58
This would involve quite a bit of clean up and refactoring. Maybe a sprint at pyastro... :wink:

[2018-03-23 23:41] bsipocz commented on #58
sprinting on the bot is already on my ever growing list for pyastro 😉

[2018-03-27 20:09] #59 closed, assigned to nobody

[2018-04-12 14:33] pllim opened #61 "ENH: bot to detect lack of test and insert this meme"
When PR is submitted, if bot does not find any changes to any Python file  under some `tests` directory, insert this (thanks to @drdavella via astropy/astropy#7359):

![darth_vader_no_tests](https://user-images.githubusercontent.com/2090236/38684020-c280289e-3e3c-11e8-939d-a084c47df503.png)

Optional: When maintainer label the PR as "doc" (or perhaps other labels that imply no tests are necessary)

[2018-04-12 19:39] astrofrog commented on #61
👍 - PR welcome!

[2018-04-12 19:40] astrofrog commented on #61
Although maybe we can NOT do it for first-time contributors (GitHub shows if users are first-time contributors, so hopefully it's also in the API)

[2018-04-12 20:23] pllim commented on #61
First timer status is at https://developer.github.com/v4/reference/enum/commentauthorassociation/ . But that seems different from https://developer.github.com/v3/ :woman_shrugging:

[2018-04-16 18:13] pllim opened #62 "Use GitHub API v4 (GraphQL)?"
xref spacetelescope/repostats#26

[2018-04-19 13:21] bsipocz opened #63 "bot should warn again if time has passed"
Currently the bot warns for stale PRs, then after a month it closes said PRs. However with a rebase the clock can be reset, but then it won't warn again, but close straight away.
I feel it would be more helpful to receive the warning again.

Example is here: https://github.com/astropy/astropy/pull/5195

[2018-04-19 20:24] pllim commented on #63
I looked at the logic and not sure how to accomplish this. Currently the logic is (pseudocode follows):
[code]
~~Therefore, the warning will only happen once and only once. Rebase does not alter the timestamp of last commit, it simply replays the commits on top of `master`. Currently the only way for it to warn again instead of simply closing is to add another commit.~~

Here is the data it has to

[2018-04-19 21:59] bsipocz commented on #63
As I see it uses the commit date when setting `last_commit_date`. Rebase updates that the commit date, only leaves the author date untouched.

[2018-04-20 18:19] pllim commented on #63
Ah, yes. Then maybe @astrofrog can comment. Could be unfortunate scheduling such that the bot was not checking when `warn_threshold` was exceeded again (but before `close_threshold`). That way, next time bot runs this check, it goes straight to closing the PR?

[2018-04-20 18:21] bsipocz commented on #63
Yes, I think so that's the case. However we could easily argue that a PR that was once stale and got stale again is most probably very stale indeed (as after having a careful look, it was the case this time, too).

[2018-04-20 18:23] pllim commented on #63
Oh, wait... Looks like it purposely only warn once. This seems to be a conscious design choice at some point. Anyone remembers why?
[code]

[2018-04-20 18:25] bsipocz commented on #63
I think we were thinking that it shouldn't warn each week, or each day during the grade period. I can't recall that we have thought about the clock restart (though me might have had).

[2018-04-20 18:27] pllim commented on #63
It is not impossible to insert extra logic to not skip warning again if the older warning is too old, but we need to think about the cadence (if that is indeed the correct English word to use).

[2018-04-24 19:15] pllim commented on #54
Isn't this already implemented?

[2018-04-24 19:16] pllim commented on #63
Ah, now that I look at the issues. Is this a duplicate of #38?

[2018-04-24 19:17] pllim commented on #33
I added a bunch of tests. Coverage > 80% now. Maybe okay to close this?

[2018-04-24 19:19] pllim opened #64 "bot should not complain on post-release change log update"
Bot was complaining unnecessarily in astropy/astropy#7403, whose purpose is to update the change log post-release.

*"Changelog entry present but no-changelog-entry-needed label set"*

When a PR *only* changes the change log, bot should skip check?

[2018-04-24 20:26] bsipocz commented on #63
Ah, sure it is. I haven't checked the issues.

[2018-04-24 20:26] #63 closed, assigned to nobody

[2018-04-24 20:33] bsipocz commented on #64
Yes, I think that would be a sensible option. If we want extra insurance, it could check whether the PR owner is a maintainer or not, but with a quick check it wasn't obvious whether that can be done easily.

[2018-04-25 14:35] pllim commented on #64
Getting maintainer list might need special privilege. Is this the correct API to use -- https://developer.github.com/v3/repos/#list-teams ? If so, https://api.github.com/repos/astropy/astropy/teams didn't return anything useful.

[2018-05-02 14:08] pllim opened #65 "ENH: Bot to auto-add subpackage labels for issues or PRs"
As @astrofrog proposed, bot can automatically add subpackage labels to PRs by seeing which subpackage folder has changed in it.

In addition (maybe slightly more ambitious), bot can also scan text of an issue and guess the subpackage label.

[2018-05-02 14:09] pllim opened #66 "EXP: Bot to use machine learning to label issues and PRs"
Quoting @astrofrog , "[W]ould be fun to see what it would predict for unlabelled issues!"

:robot:

[2018-05-02 14:30] saimn commented on #66
Are you looking for hack ideas ? :wink:

[2018-05-02 16:25] pllim commented on #66
May...be...

[2018-05-03 14:42] pllim opened #67 "ENH: Better special day logic"
Maybe...

1. Special logic should run covering more than UTC
   - Either based on PR submitter's time zone, OR
   - Have it cover all the timezone (+/- 12 hours)
2. When PR is created on special day and bot inserted special message, if PR is modified after that, bot updates its comment but now special message is gone. Maybe we want to bot to re-insert special message if PR *creation* date is speci

[2018-05-03 16:12] astrofrog commented on #54
No, the existing labels were put manually :)

[2018-05-03 19:56] pllim opened #71 "TST: Test POST?"
@bsipocz suggested to look at how `astroquery` mock POST for testing.

[2018-05-04 00:49] pllim opened #72 "MNT: Delete stale branches?"
@astrofrog , I see there are 3 other branches here besides `master` (`cron`, `fix-comments`, `ny-sprint`). I propose we delete them if they are stale. This is because when people fork the repo, they unnecessarily inherit those branches as well. Just my OCD speaking. What do you think?

[2018-05-04 01:12] pllim commented on #54
:scream:

[2018-05-04 01:45] pllim opened #73 "MNT: Retroactively add closed-by-bot label to relevant PRs"
This is a one-time thing: Look for all PRs that were closed by the bot (without merge) and if they don't have `closed-by-bot` label, add it retroactively.

p.s. If there are too many, need to be aware how GitHub API limits apply and work around that if necessary.

[2018-05-04 05:25] #54 closed, assigned to nobody

[2018-05-04 15:36] pllim opened #76 "ENH: More special days?"
As @bsipocz suggested, we can expand on which day(s) can also qualify as Special Day. :wink:

[2018-05-04 16:07] pllim commented on #45
Ping @eteq

[2018-05-08 13:52] bsipocz commented on #76
feature freeze day would be a nice one ;)

[2018-05-09 12:08] bsipocz commented on #72
👍 to this from me.

[2018-05-09 16:53] pllim commented on #72
I am just unsure about `cron` branch. @astrofrog , are you using any of those for your own world domination?

[2018-05-10 12:21] astrofrog commented on #72
``cron`` is what we use to run the checks of stale issues/prs! The other two branches can be deleted.

[2018-05-10 12:22] astrofrog commented on #72
Done, closing! (I've also protected ``master`` and ``cron``)

[2018-05-10 12:22] #72 closed, assigned to nobody

[2018-05-10 13:36] pllim commented on #72
@astrofrog , but `cron` is also over 200 commits behind `master`! Does this mean that stale issues/PRs checker is not picking up the bot improvements that we put in recently? :scream:

[2018-05-10 13:39] pllim opened #79 "TST: CircleCI failing on master branch"
Looks like I might have accidentally broke it on May 4. I didn't even know we have CircleCI set up for the bot. I only just now noticed it when I saw red "x" in the commit history web UI.

https://circleci.com/gh/astropy/astropy-bot/1?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-05-10 13:41] pllim commented on #79
Looks like it is missing some necessary dependencies. Who set this up? Please help...

[2018-05-10 15:30] astrofrog commented on #79
I just set up CircleCI today - there isn't any config on master yet! So just ignore the failure :)

[2018-05-10 15:31] astrofrog commented on #79
It's for the PR stuart added, which does have a CircleCI config file

[2018-05-10 15:31] #79 closed, assigned to nobody

[2018-05-15 17:36] pllim commented on #62
@crawfordsm said he might be able to provide some ideas on this.

[2018-05-16 15:12] stscicrawford commented on #62
Yes RESTful to GraphQL is a pretty major change, and we were starting from scratch so we weren't migrating a python library.  Currently, for Github interactions, I've been using https://github.com/PyGithub/PyGithub but that is still v3.  Is there a date for the depreciation of the v3?

[2018-05-16 16:32] pllim commented on #62
I haven't seen any news about deprecating v3, so there is no urgency on switching. But on the other hand, switching sooner means there is less to port later. So... :woman_shrugging:

The bot does not use PyGithub, which by the way has GPL license (!).

[2018-05-16 16:32] pllim commented on #62
Do you have any Python library to recommend in terms of interfacing with v4 GraphQL? Thanks!

[2018-05-23 14:56] mhvk opened #80 "Bot worries about no-changelog-entry-needed when milestone is not set"
See https://github.com/astropy/astropy/pull/7489
It claims that "Changelog entry present but no-changelog-entry-needed label set", when really the only problem is that the milestone is not set.

[2018-05-23 15:29] bsipocz commented on #80
@mhvk - You have the `no-changelog-entry-needed` label and also a changelog entry.

So I'm afraid, but the bot seems to be right this time, please remove the label 😃

[2018-05-23 17:12] mhvk commented on #80
Oops, that's what I get for building on top of another PR!!!

[2018-05-23 17:12] #80 closed, assigned to nobody

[2018-05-23 17:15] pllim opened #81 "ENH: Ensure there is never an issue with novice + io.fits"
This is very specific to `astropy/astropy`. If bot detects an issue labeled `io.fits` + `package-novice`, the bot complains and automatically change `package-novice` to `package-expert`. For other repos, when these labels don't exist, bot can simply do nothing.

[2018-05-25 13:27] pllim commented on #73
@bsipocz gave me the magic incantation to find them (see below), so I applied the label manually (in batch mode) over at `astropy/astropy`.

https://github.com/astropy/astropy/search?utf8=%E2%9C%93&q=%22Time%27s+up%21%22+is%3Aclosed+-label%3Aclosed-by-bot&type=Issues

[2018-05-25 13:27] #73 closed, assigned to nobody

[2018-05-29 08:45] Cadair opened #83 "Move in-repo configuration to pyproject.toml"
It seems that various projects are adopting the `pyproject.toml` file as described by [PEP 518](https://www.python.org/dev/peps/pep-0518/) for configuration of tools that operate on the repo. (Examples I have found are [towncrier](https://github.com/hawkowl/towncrier) [tidypy](https://github.com/jayclassless/tidypy) and [poetry](https://github.com/sdispater/poetry)).

Given that I have now written

[2018-05-29 14:40] Cadair commented on #83
I have code for this now btw and I am using it for sunpybot to prevent the addition of yet another file in the root of the repo, so if you want it it's yours.

[2018-05-29 14:41] pllim commented on #83
Since it is an accepted PEP, I don't have any objection. @astrofrog and @bsipocz ?

@Cadair , feel free to open another PR with your suggestion on how it should be used. :smile:

[2018-05-29 14:45] bsipocz commented on #83
I'm not convinced by the examples that it's widely used yet, but given it's an accepted PEP and the motivation makes sense, so why not be amongst the first ones to use it.
PR is welcome :)

[2018-05-29 15:03] Cadair commented on #83
Yeah it dosen't seem to be that widely used, but I like the concept of having one config file to put all the stuff in rather than each thing having its own.

I will rebase my branches and send a PR.

[2018-05-29 15:19] Cadair commented on #83
#84

[2018-05-30 20:07] pllim commented on #83
Implemented in #84.

[2018-05-30 20:07] #83 closed, assigned to nobody

[2018-06-02 17:21] bsipocz commented on #64
hmm, weird, maybe only org admins have access to it even though the web interface allows listing teams.

Anyway, I think it's safe to just hard wire a few usernames who are likely to ever open such cleanup PRs for maintenance purposes...

[2018-06-07 11:50] astrofrog commented on #64
What about just adding a label 'skip-changelog-checks'?

[2018-06-07 11:50] astrofrog commented on #64
Also maybe this doesn't really matter since maintainers can merge PRs even if the checks fail (I'd rather not hard-code usernames in the bot code)

[2018-06-07 11:56] bsipocz commented on #64
yeah, the issue is really just the eyesore of the red x for the PR, I'm happy with any solutions for that.

[2018-06-11 14:20] pllim commented on #64
Tagging as suggested in https://github.com/astropy/astropy-bot/issues/64#issuecomment-395392734 sounds easy and reasonable. :+1:

[2018-06-11 15:28] pllim commented on #64
Update: I added the suggested label over at Astropy core and submitted #85 to go with it.

[2018-06-12 21:04] #64 closed, assigned to nobody

[2018-06-20 17:11] pllim opened #86 "ENH: Auto open issue on Astropy when new CFITSIO is released"
Idea: Have the bot check https://heasarc.gsfc.nasa.gov/FTP/software/fitsio/c/docs/changes.txt every so often and detect new CFITSIO release. If positive, open a new issue on Astropy core repo.

Idea originated from discussions related to spacetelescope/hstcal#316

[2018-06-21 15:59] pllim commented on #62
GraphQL support seems to be immature still right now. Let's hold off on this. Here's a reply from GitHub:
<hr/>
If you have any other feature requests for the GraphQL API, we recommend creating a new Topic for this in our GitHub Platform Forum's GraphQL API section and tagging it as a schema-request so the team can take a look. Our team wrote more about this process here:

https://platform.github.

[2018-06-24 15:32] bsipocz commented on #86
👍

I wonder, do we have similarly critical bundles? I mean it's not an issue not to update any of the js stuff or ply, but probably the same machinery can be used to notify for updates of erfa and wcslib, too.

[2018-06-25 14:26] pllim commented on #86
@bsipocz , as long as the release is announced somewhere that is consistently parsable, I don't see why not.

[2018-06-25 15:31] bsipocz commented on #86
Yeah, that's tough. Can we rely on the copyright note at the top of the webpage/a choosen file? (http://www.atnf.csiro.au/people/mcalabre/WCS/wcslib/). Erfa is even less easy given we should really poll SOFA and notify ERFA to do the updates, then do update the bundled one in astropy.

We can poll the big red date for SOFA on their main page (http://www.iausofa.org/ or in the title of http://www.i

[2018-06-26 16:41] pllim commented on #86
Hmm this is sounding like `astroreleasechecker` (like `astroquery` but for releases)...?

[2018-06-26 18:44] bsipocz commented on #86
or even a `releasechecker`, as e.g. `expat` is not astro

[2018-07-18 16:43] pllim opened #87 "bot is not closing stale pull requests as expected"
As reported by @bsipocz . For example, consider astropy/astropy#6945

[code]
But the PR is still open. Why?

[2018-07-18 20:58] astrofrog opened #89 "Issue with invalid label"
Seen in the log of the auto issue closer:

[code]

[2018-07-18 21:04] bsipocz commented on #89
But it's there: https://github.com/astropy/astropy/labels/invalid

[2018-07-18 21:04] bsipocz commented on #89
or you mean some other label not `'invalid'`?

[2018-07-18 21:07] bsipocz commented on #89
(`'closed-by-bot'` also exists)

[2018-07-18 22:48] astrofrog commented on #89
Sorry I meant the error `Label does not exist: set()` wasn't clear, but I understand now why that is based on the source code. I'll have a fix to have a clearer error tomorrow.

[2018-07-19 10:07] astrofrog commented on #87
Closed by #88

[2018-07-19 10:07] #87 closed, assigned to astrofrog

[2018-07-19 14:12] #38 closed, assigned to nobody

[2018-07-19 14:12] #89 closed, assigned to nobody

[2018-08-12 11:27] cclauss opened #92 "Would it be possible to fix these? No, I am not a maintainer."
@astropy-bot says:

Couldn't the bot first look to see I am a __maintainer__ and then determine that because I am _not_ a maintainer that I can neither set the milestone nor set labels?

[2018-08-12 14:44] bsipocz commented on #92
@cclauss - Thanks for the feedback. Sadly it's not possible for the bot to check who is a maintainer. However the bot is currently undergoing a refactoring that may eliminate adding a comment altogether.

However that comment is going to be updated when a milestone is set, changelog added, etc.

[2018-11-14 22:05] mhvk opened #95 "Astrobot seems to repeat its messages"
I got three at https://github.com/astropy/astropy/pull/8128

[2018-11-14 22:12] pllim commented on #95
Yes, it is a known issue and probably some bug upstream on GitHub. @astrofrog tried adding a `time.sleep` but it didn't work.

[2018-11-16 10:10] astrofrog commented on #95
It's more of a race condition than a bug - we just handle all the events from GitHub faster than GitHub can post the comment.

[2018-11-16 14:33] mhvk commented on #95
Yes, github seems to have become much slower than it used to. I hope it is not meant just to get people to sign up for paid service.

[2018-11-20 22:03] pllim opened #96 "Bot to check if change log is in the section that match label"
https://github.com/astropy/astropy/pull/8164#issuecomment-440443637

cc @bsipocz

[2018-11-22 17:39] astrofrog commented on #95
This should now be fixed since I've changed astropy-bot to post individual status checks rather than a comment, so this shouldn't happen anymore in astropy-bot (but opening https://github.com/OpenAstronomy/baldrick/issues/40 as a general baldrick issue)

[2018-11-22 17:39] #95 closed, assigned to nobody

[2018-11-22 17:40] astrofrog commented on #2
I think this is now fixed - with baldrick, each repo can provide its own ``pyproject.toml`` to override the general ``astropy-bot`` settings.

[2018-11-22 17:40] #2 closed, assigned to nobody

[2018-11-22 17:41] astrofrog commented on #33
Closing this - thanks @pllim! (and the code is now in baldrick)

[2018-11-22 17:41] #33 closed, assigned to nobody

[2018-11-22 17:42] astrofrog commented on #58
Closing this as I think now only a strict minimum of env vars are required (and by baldrick, not here)

[2018-11-22 17:42] #58 closed, assigned to nobody

[2018-11-22 17:44] astrofrog commented on #92
I'm going to close this as we now no longer post the comment and use status checks instead.

[2018-11-22 17:44] #92 closed, assigned to nobody

[2018-11-22 19:20] pllim commented on #95
@astrofrog , does the README need to be updated to document how to install the bot as "status check"? Or is this all being done under the hood over at Baldrick?

[2018-11-23 10:47] astrofrog commented on #95
@pllim - that should be described in https://baldrick.readthedocs.io/en/latest/plugins.html - but feel free to open a PR for the README here if you think we can make things like that clearer.

[2018-11-26 16:08] pllim commented on #76
Moved to OpenAstronomy/baldrick#42

[2018-11-26 16:08] #76 closed, assigned to nobody

[2018-11-26 16:08] pllim commented on #67
Moved to OpenAstronomy/baldrick#42

[2018-11-26 16:08] #67 closed, assigned to nobody

[2018-12-06 19:46] Cadair opened #99 "The changelog check should skip if there is no milestone"
If the changelog check returns a fail because the milestone isn't set, you have two statues that say "set a milestone" :laughing:

[2018-12-06 20:18] pllim commented on #99
Maybe it is a feature and not a bug! Two failures should show you how important it is to fix? 😅

[2019-01-15 17:06] pllim opened #101 "ENH: Ping maintainer when issue starting to become stale"
This request was specific to astropy core but might be beneficial to other repos too if we can generalize a way to list all the appropriate maintainers and/or escalation rules.

For example, an issue was opened about `astropy.stats` but it received no response for X amount of time (settable by bot controller), so bot posts a comment to ping the maintainer(s) responsible.

Stretch goal: Escalation

[2019-01-15 18:19] bsipocz commented on #101
I wonder how much it would be just spamming and making the issues more noisy knowing that not everyone is paying attention to their github notification feed even before this becomes a bot feature.

[2019-01-15 18:49] pllim commented on #101
Well... We do have email addresses in the mail map... :japanese_ogre:

[2019-01-15 18:52] bsipocz commented on #101
We don't want to burn all bridges 🔥 😉

[2019-01-15 19:02] pllim commented on #101
Okay, if this suggestion is too radical, feel free to label it as "won't fix" and close it. :sweat_smile:

[2019-01-15 19:04] bsipocz commented on #101
having the functionality and using it are two separate questions I guess.

[2019-03-18 14:06] pllim opened #102 "BUG: Bot stopped closing stale issues"
As reported by @bsipocz , "I’m triaging [astropy core] and noticed that the 'close?' labelled issues are not being closed by the bot."

[2019-06-15 16:44] pllim commented on #102
@astrofrog , do you think this is fixed by now?

[2019-06-15 16:45] pllim commented on #86
This might be already possible with https://github.com/spacetelescope/harbinger written by @rendinam

[2019-06-15 17:23] bsipocz commented on #102
No, it's not, e.g. this one has the label for 26 days ago, got the notification 19 days ago and is still open.
https://github.com/astropy/astropy/issues/8730

[2019-06-19 15:59] adrn opened #104 "Add a new "check" for new "needs-copy-editing" label in main astropy repo"
We (@kelle @eteq @lglattly) have just added a new label to the main astropy repo: "needs-copy-editing". This label indicates that a given pull request touches the documentation *and* needs to be reviewed by @lglattly. The bot should check for the combination of "docs" and "needs-copy-editing" and fail a check if both are set on a pull request. This also means that, when applying the docs label to

[2019-06-19 16:10] kelle commented on #104
We've copyedited the copyedit label (F2F) and have figured out copyedit (verb) is one word. The label is "needs-copyediting".

[2019-06-19 16:31] astrofrog commented on #104
For anyone interested in tackling this, this just involves writing a small plugin similar to https://github.com/astropy/astropy-bot/blob/master/astropy_bot/changelog_checker.py (but much much shorter)

[2019-06-19 17:43] adrn commented on #104
Cool, thanks! I'll give it a try.

[2019-06-19 17:55] pllim commented on #104
@adrn , API is at https://github.com/OpenAstronomy/baldrick . FYI. 🤖

[2019-06-19 18:00] pllim commented on #104
While we are at this, maybe auto assign @adrn for review of PRs from @lglattly ?

p.s. I think this is a subset of #65 and maybe also a subset of a bigger question of enabling a feature like https://help.github.com/en/articles/about-code-owners

[2019-08-01 17:00] #65 closed, assigned to nobody

[2019-08-06 21:15] pllim opened #107 "If autolabel moves to baldrick, need to adjust accordingly"
Reminder issue to follow up on OpenAstronomy/baldrick#83 if it is merged.

[2019-08-07 17:57] pllim opened #108 "BUG: Autolabel not labeling three levels deep"
`io.misc.ascii` did not get labelled in astropy/astropy#9100

[2019-08-07 18:47] pllim opened #109 "DOC: Bot info outdated"
The README mentions a http://astrochangebot.herokuapp.com but it appears to be a dead link. The rest of the content probably needs updating too.

[2019-08-07 20:48] bsipocz commented on #108
It did label `io.misc.asdf` correctly on https://github.com/astropy/astropy/pull/9102 correctly, but then it shouldn't have added the `io.misc` label as well

[2019-08-21 17:13] pllim commented on #108
Same for `visualization.wcsaxes` and `visualization` -- astropy/astropy#9153

[2019-09-03 13:40] pllim opened #112 "Do we still need the autolabel branch?"
Do we still need the autolabel branch? Can it be deleted?

[2020-01-27 16:13] pllim opened #113 "ENH: Add check for what's new entry"
I think it would be nice for the bot to have a check to see if what's new entry is really added as part of a PR (green if added, red if not) when there is a label to indicate that what's new entry is needed for the PR.

I am just not sure what is a fool-proof way to check for such a thing, even that the what's new page does not have rigid rules like the change log.

[2020-03-09 17:32] pllim opened #114 "ENH: [autolabel] Label "external" for things in "extern""
PRs like astropy/astropy#10021 that touch "extern" should have "external" label automatically applied.

[2020-03-09 17:34] pllim opened #115 "ENH: [autolabel] Run check every push?"
Should the autolabel check happen on every push instead of just once when PR is opened?

When I submitted a WIP PR, and then added more stuff to it later, the labels are misleading because packages I touched later are not automatically included.

Along the same line of thought, should label be removed when subsequent commits cause the PR to no longer touch a subpackage?

[2020-03-09 20:38] bsipocz commented on #115
We talked about it, and decided against. E.g. consider the situation when a maintainer removed a label, but pushing a new commit would readd it?
I'm not sure how much an issue that is though.

[2020-03-09 20:40] bsipocz commented on #114
Yes, and for the external case, it would very nice to also ping certain maintainers, as we want to make sure not to touch those besides bumping versions. (E.g. in many times people randomly wander into the external to fix pep8 or similar, when they should not touch those really).

[2020-03-09 20:53] pllim commented on #115
Yeah, okay, now I remember. Let's close then. Thanks!

[2020-03-09 20:53] #115 closed, assigned to nobody

[2020-03-12 14:28] pllim commented on #112
Deleted.

[2020-03-12 14:28] #112 closed, assigned to nobody

[2020-03-12 16:00] pllim commented on #114
Pinging maintainers might be too controversial.

[2020-03-23 16:10] bsipocz commented on #114
ping  a subset of maintainers then, e.g. release manager. I certainly would like to see and stop any of those changes, from the POV of cutting the release (where we kind of say we ship x.y versions, so those versions should indeed be those versions not some randomly patched ones)

[2020-05-20 10:37] astrofrog opened #117 "Consider more tasks for a weekly cron"
We currently have two cron jobs that close stale issues and pull requests, and I can think of some other things it might be nice to automate on a similar timescale in the core package specifically:

* Running the IERS update script (``update_builtin_iers``) (EDIT: https://github.com/astropy/astropy/blob/master/astropy/utils/iers/data/update_builtin_iers.sh)
* Updating the list of contributors in `

[2020-05-20 14:27] pllim commented on #117
This looks like an "epic" (JIRA speak!) and will need to be broken down to smaller items that people can tackle. Or at least a concrete check list.

Like, the first 2 bullets can be turned into checkboxes, and then the "brain dumping" part can be a few more.

[2020-06-16 20:13] pllim commented on #117
By the way, are the cron job scripts even in this repo? I cannot find them.

[2020-06-16 21:29] pllim commented on #117
For "Updating the list of contributors," does that cron job have `git` installed?

[2020-06-16 21:34] bsipocz commented on #117
Imo updating the contributors from cron will generate more interrupts and actions for maintainers than doing it in one go before a release. Names are not easy, and many times are not automatable (see badly configured git, duplicate names, spelling variations, etc).

[2020-06-16 21:34] pllim commented on #117
Here are the steps from `astropy` release procedures:

1. Use `git` to grab the latest `master` branch of `astropy`.
2. Change directory to `astropy/utils/iers/data`.
3. Execute `update_builtin_iers.sh`.
4. Open a PR if there is a difference (in `eopc04_IAU2000.62-now`?).

[2020-06-16 22:13] pllim commented on #117
Re: Running the IERS update script

I have a proof-of-concept script using `batchpr` in [this gist](https://gist.github.com/pllim/9f0e121e1a13e13ac68705c619dd3fa1). Seems to work when there is a change (see astropy/astropy#10500).

TODO:

* Have to test to see if it will refrain itself from opening a dummy PR when there is no diff.
* Have to think about what happens when there is a PR open by the

[2020-09-15 21:36] pllim opened #119 "Is autolabel broken?"
The CI failure at #118 seems to indicate that autolabel is not working. Either that or we need to update the test/infrastructure over here. Seems like the CI has no cron job, so I have no idea when this started happening.

[code]

[2020-09-15 21:38] bsipocz commented on #119
as of 4 days ago, the autolabeling seems to work perfectly for astroquery

[2020-09-22 05:00] nstarman opened #120 "Use on private repositories"
I followed the instructions in https://github.com/astropy/astropy-bot#install-the-bot-in-a-repository and set the bot to run on all my projects, public and private. The bot works great on public repos, but does nothing on private ones. Is this a bug, or inherent to the bot?

[2020-09-22 13:30] pllim commented on #120
You might want to ask GitHub help desk. GitHub imposes some restrictions on private repos. AFAIK, we have never tried to deploy this bot on a private repo and have no plans to.

[2020-09-22 15:56] nstarman commented on #120
Thanks! I'll look into that. The bot has been super helpful in forcing me to use a change-log. I want to make that mandatory across all my repos.

[2020-10-05 22:26] pllim commented on #119
I dunno... I don't think it is working for `astropy`... For example, astropy/astropy#10805 wasn't auto-labeled though I wasn't actively testing this feature, but rather only noticed it after-the-fact. 🤷

[2020-10-05 22:53] bsipocz commented on #119
interesting, it still works for astroquery, but I certainly see that it doesn't work at all for astropy, at least for any of the very recent PRs

[2020-10-05 23:06] astrofrog commented on #119
I got this email a few days ago:

[2020-10-05 23:07] astrofrog commented on #119
I don't understand why this wouldn't affect astroquery though - @Cadair any ideas?

[2020-10-05 23:11] astrofrog commented on #119
Oh I see this was fixed a few months ago in baldrick - @Cadair is this why you were saying we had to redeploy astropy-bot?

[2020-10-05 23:15] bsipocz commented on #119
Hahh, OK, I should have looked at the latest merged PRs, not the latest of the open ones. So this is indeed stopped working for astroquery, too, e.g. PRs opened today were not labelled, but the ones opened last week were.

[2020-10-05 23:23] astrofrog commented on #119
I've just re-deployed astropy-bot but running into issues, will post on Slack

[2020-10-06 00:51] pllim commented on #120
@nstarman , any update from GitHub? If there is nothing we need to do here, please close the issue. Thanks!

[2020-10-06 00:56] #120 closed, assigned to nobody

[2020-10-12 15:51] pllim commented on #119
Seems to work again. Thanks!

[2020-10-12 15:51] #119 closed, assigned to astrofrog

[2020-10-14 15:49] pllim opened #122 "Bot is not working (sometimes?)"
@bsipocz noticed it in `astroquery` yesterday. I also see that it is not doing anything for a new PR opened today, e.g., astropy/astropy#10857

[2020-10-14 16:12] astrofrog commented on #122
I re-deployed the bot just now, can someone test it again?

[2020-10-14 16:12] astrofrog commented on #122
Hmm maybe I can redeploy the web hook

[2020-10-15 01:18] pllim commented on #122
At least the milestone check is back. If @bsipocz sees that labeling works again for `astroquery`, we can close this. Thanks! 😄

[2020-10-15 03:51] pllim commented on #122
Never mind, I think it broke again. Didn't see it appearing on astropy/astropy#10863 .

I keep seeing:
[code]

[2020-10-15 13:17] pllim commented on #122
Looks like it is working again? 🤷

[2020-11-11 14:55] pllim commented on #122
Now it is really not working. Logs only show `503 Service Unavailable` errors.

[code]

[2020-11-11 14:56] pllim commented on #108
We got the labeler on Action now, so closing this as won't fix.

[2020-11-11 14:56] #108 closed, assigned to nobody

[2020-11-11 14:57] #102 closed, assigned to astrofrog

[2020-11-11 14:57] #114 closed, assigned to nobody

[2020-11-11 14:57] #107 closed, assigned to nobody

[2020-11-11 14:58] pllim commented on #101
I think @embray might be interested in this old discussion.

[2020-11-11 14:59] pllim commented on #62
2 years on, v4 still pretty useless.

[2020-11-11 14:59] #62 closed, assigned to nobody

[2020-11-11 15:00] #31 closed, assigned to nobody

[2020-11-12 22:35] pllim commented on #122
Re-deployed and now seeing this (though not sure what triggered it):

[code]

[2020-11-12 23:07] pllim commented on #122
Looks like it is back alive? astropy/astropy#11037

[2020-11-15 22:21] embray commented on #101
@pllim Thanks, I'll work on this.

[2020-11-15 22:22] embray commented on #101
To be clear, this would go hand-in-hand with my interest of automatically assigning maintainers of subpackages to issues (on an opt-in basis).

[2020-11-15 22:26] bsipocz commented on #101
I'm still against assigning issues. PRs are different, but assigning issues are problematic for so many reasons.

[2020-11-15 22:32] embray commented on #101
Why is it problematic, unless someone is against being assigned them?  My thinking was that it would be assigned as a "first level" of support.  The assignee would be free to re-assign it to someone else, unassign it, or do nothing at all (not much different from the status quo?).

[2020-11-16 00:08] bsipocz commented on #101
If an issue is assigned it's much much less likely that a random person picks that up. While I don't see any guarantee that any maintainers, who didn't attend to the 80-100 issues they have for their subpackage and do regular triage would now suddenly actively work on them. So, in fact, auto assigning issue would dilute the info we already have now, e.g. now only cases that are actively wanted and

[2020-11-16 18:10] pllim commented on #101
I think I am going to close this as won't fix, but it is clear we have a consensus about PRs, so let's follow-up over at astropy/astropy#11051 . Thank you all for the enlightening discussions!

[2020-11-16 18:10] #101 closed, assigned to embray

[2020-11-16 22:51] pllim opened #125 "Replace Heroku with something else (GitHub Actions?)"
Reasons:

* Heroku + GitHub API been flaky lately.
* Heroku logs hard to decipher.
* Heroku access is a bottleneck and extra maintenance burden.
* Updating upstream dependency on Heroku can be tricky because it is cached.

This issue supersedes #122 .

## Replacements that are already deployed in astropy

* `astropy_bot/autolabel.py` ➡️ [labeler](https://github.com/actions/labeler) (see `astropy`)

[2020-11-16 22:51] pllim commented on #122
Superseded by #125

[2020-11-16 22:51] #122 closed, assigned to nobody

[2020-11-18 03:07] pllim commented on #125
I took a stab at replacing the milestone check with [custom GitHub Action](https://github.com/pllim/action-check_milestone_exists) but it is blocked by https://github.community/t/feature-request-add-milestone-changes-as-activity-type-to-pull-request/16778/7 .

From that exercise, my conclusions are as follow: It will be pretty much a complete refactoring moving from astropy-bot to Actions. A lot o

[2020-11-22 01:36] pllim commented on #125
Priorities...

![Screenshot 2020-11-21 203607](https://user-images.githubusercontent.com/2090236/99891565-3b06ee00-2c39-11eb-8601-f85603adf58a.jpg)

[2021-03-09 15:29] pllim opened #127 "MNT: Rename default branch from master to main"
Please rename your default branch from `master` to `main` as part of astropy/astropy-project#151 , preferably by 2021-03-22. Also a friendly reminder to check documentation, workflows, etc., and update them accordingly. Please don't forget to communicate this change to your users and stakeholders. To summarize:

- [x] Rename branch from `master` to `main`, preferably by 2021-03-22.
- [x] Update do

[2021-03-09 20:13] pllim commented on #127
Also updated Heroku.

[2021-03-09 20:13] #127 closed, assigned to nobody

[2021-11-02 00:36] #46 closed, assigned to nobody

[2021-11-02 00:36] #35 closed, assigned to nobody

[2021-11-02 00:38] #4 closed, assigned to nobody